.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}
.nav-item.dropdown .dropdown-menu {
  margin-top: 0;
}

.box{
  border-bottom: 2.5px solid rgb(43, 171, 226);
  width: 70px;  
  margin: auto;
  margin-bottom: 20px;
}
.nav-item:hover > a{
  color: #36cfd7;
}
.deepDropDown {
  position: absolute;
  top: 37%;
  left: 100%;
  border: 0px;
  background: rgb(241, 240, 243);
  &:hover {
    box-shadow: 1px 1px 7px 0px rgb(194, 193, 193);
  }
}

/* Banner Section */
.banner-container{
  background-image: url('https://themewagon.github.io/Kelly/assets/img/hero-bg.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}
.banner-card{
  text-align: center;
  margin: auto;
}
.banner-card h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  letter-spacing: 3px;
  word-spacing: 10px;
  font-weight: bold;
}
.banner-card p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  letter-spacing: 2px;
  font-weight: bold;
  color: black;
}




/* Service section */
.service-item{
  background-color: var(--surface-color);
  box-shadow: 0px 5px 90px 0px rgba(0, 0, 0, 0.1);
  height: 100%;
  padding: 50px 30px;
  text-align: center;
  transition: 0.3s;
  border-radius: 8px;
}
.service-item:hover{
  box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.3);
  &:hover h3{
    color: #0dcaf0;    
  }
}
.service-item.item-cyan .icon i {
  color:  #0dcaf0;
}
.service-item.item-cyan:hover .icon i {
  color:  #ffffff;
}
.service-item.item-cyan:hover .icon path {
  fill: #0dcaf0;
}


.service-item.item-orange .icon i {
  color:  #fd7e14;
}
.service-item.item-orange:hover .icon i {
  color:  #ffffff;
}
.service-item.item-orange:hover .icon path {
  fill: #fd7e14;
}



.service-item.item-teal .icon i {
  color:  #20c997;
}
.service-item.item-teal:hover .icon i {
  color:  #ffffff;
}
.service-item.item-teal:hover .icon path {
  fill: #20c997;
}

.service-item.item-red .icon i {
  color:  #df1529;
}
.service-item.item-red:hover .icon i {
  color:  #ffffff;
}
.service-item.item-red:hover .icon path {
  fill: #df1529;
}

.service-item.item-indigo .icon i {
  color:  #6610f2;
}
.service-item.item-indigo:hover .icon i {
  color:  #ffffff;
}
.service-item.item-indigo:hover .icon path {
  fill: #6610f2;
}

.service-item.item-pink .icon i {
  color:  #f3268c;
}
.service-item.item-pink:hover .icon i {
  color:  #ffffff;
}
.service-item.item-pink:hover .icon path {
  fill: #f3268c;
}


.icon{
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;

}
.service-item .icon > svg{
  position: absolute;
  top: 0;
  left: 0;
  
}
.service-item .icon > i{
  font-size: 36px;
  transition: 0.5s;
  position: relative;
}

.service-item > a{
  text-decoration: none;
  color: black;
}
.footerCopyright{
  font-size: 18px;
  color: black;
  font-weight: 400;
}
.footerSpan{
  color: #36cfd7;
  font-weight: 400;
}
.footerIcon{
  border: 1.4px solid rgb(94, 96, 91);
  padding: 8px 12px;
  border-radius: 100%;
}